@tailwind base;
@tailwind components;
@tailwind utilities;






.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  width: 200px; /* Adjust the width as needed */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scrolling if needed */
  padding: 10px;
}

.sidebar ul {
  list-style-type: none; /* Remove bullet points */
  padding: 0;
}

.sidebar li {
  margin: 10px 0; /* Space between items */
}

.sidebar a {
  text-decoration: none; /* Remove underline */
  color: black; /* Link color */
  padding: 8px 16px; /* Padding around links */
  display: block; /* Make the link fill the list item */
  transition: background-color 0.3s; /* Smooth transition for hover */
}

.sidebar a:hover {
  background-color: #f0f0f0; /* Change background on hover */
}
